* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
}

article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 10px solid green;
}

.productImg {
    height: 300px;
    width: 100%;
    grid-rows: 1 / span 4;
}

.product {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
}